<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/cart.css">
</head>

<body>

    <div id="navbar-placeholder"></div>

    <div class="container mt-5">
        <h2 class="mb-4 text-center">Your Cart</h2>
        <div id="cartItems" class="row"></div>
        <h4 class="mt-4">Total: $<span id="totalPrice">0</span></h4>
        <form id="checkoutForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="shippingAddress">Shipping Address</label>
                    <input type="text" class="form-control form-control-lg" id="shippingAddress" name="shippingAdress"
                        placeholder="Enter shipping address" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="dateOrder">Order Date</label>
                    <input type="text" class="form-control form-control-lg" id="dateOrder" name="dateOrder" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="paymentOption">Payment Option</label>
                    <select class="form-control form-control-lg" id="paymentOption" name="paymentOption" required>
                        <option value="COD" selected>Cash on Delivery</option>
                        <option value="StorePickup">Store Pickup</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="dateOrder">Expected Receipt Date</label>
                    <input type="text" class="form-control form-control-lg" value="1 - 2 days with COD" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-lg">Place Order</button>
                </div>
            </div>
        </form>

    </div>

    <div id="footer-placeholder"></div>

    <script>
        let totalPrice = 0;
        let productIds = [];
        let userId;
        document.getElementById('dateOrder').value = new Date().toISOString().slice(0, 10);
        function updateCartUI() {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            let productsHtml = '';

            totalPrice = 0;
            productIds = [];

            if (cart.length > 0) {
                cart.forEach(function (item) {
                    const itemTotal = item.price * item.quantity;
                    totalPrice += itemTotal;
                    productIds.push(item.id);

                    productsHtml += `<div class="col-md-4 mb-3">
                        <div class="card">
                            ${item.image ? `<img src="${item.image}" style="width: 200px; height: 200px; object-fit: cover;" class="card-img-top mx-auto d-block">` : ''}
                            <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center">${item.name}</h5>
                            <p class="card-text font-weight-bold text-center">Price: $${item.price}</p>
                            <div class="quantity-controls mb-2 d-flex justify-content-center">
                                <button class="btn btn-secondary decrease" data-id="${item.id}">-</button>
                                <input type="text" value="${item.quantity}" readonly>
                                <button class="btn btn-secondary increase" data-id="${item.id}">+</button>
                            </div>
                            <button class="btn btn-danger removeFromCart" data-id="${item.id}">Remove</button>
                        </div>
                        </div>
                    </div>`;
                });
            } else {
                productsHtml = '<p>Your cart is empty.</p>';
            }

            $('#cartItems').html(productsHtml);
            $('#totalPrice').text(totalPrice.toFixed(2));
        }
        $(document).ready(function () {
            $.ajax({
                url: '/api/v1/auth/me',
                method: 'GET',
                success: function (response) {
                    userId = response.data._id;
                    console.log("User ID:", response.data._id);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });

            updateCartUI();

            $(document).on('click', '.increase, .decrease', function () {
                const productId = $(this).data('id');
                const isIncrease = $(this).hasClass('increase');
                updateQuantity(productId, isIncrease);
            });

            $('.removeFromCart').click(function () {
                const productId = $(this).data('id');
                removeFromCart(productId);
            });


        });

        $('#checkoutForm').submit(function (event) {
            event.preventDefault();
            const shippingAddress = $('#shippingAddress').val();
            const paymentOption = $('#paymentOption').val();
            const orderDate = $('#dateOrder').val();
            const status = "complete";
            const product = productIds;
            const Total = totalPrice.toFixed(2);
            console.log(product);
            $.ajax({
                url: '/api/v1/orders',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    totalPrice: Total,
                    payment: paymentOption,
                    shippingAddress: shippingAddress,
                    dateOrder: orderDate,
                    status: status,
                    product: product,
                    user: userId
                }),
                success: function (response) {
                    console.log("Order placed successfully:", response);
                    localStorage.setItem('cart', JSON.stringify([]));
                    updateCartUI();
                    alert("Order placed successfully!");
                },
                error: function (xhr) {
                    console.error("Error placing order:", xhr.responseText);
                    alert("Error placing order. Please try again later.");
                }
            });
        });

        function updateQuantity(productId, isIncrease) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            const productIndex = cart.findIndex(item => item.id === productId);

            if (productIndex !== -1) {
                if (isIncrease) {
                    cart[productIndex].quantity += 1;
                } else if (cart[productIndex].quantity > 1) {
                    cart[productIndex].quantity -= 1;
                }
                localStorage.setItem('cart', JSON.stringify(cart));
                updateCartUI();
            }
        }

        function removeFromCart(productId) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            cart = cart.filter(item => item.id !== productId);
            localStorage.setItem('cart', JSON.stringify(cart));
            updateCartUI();
        }

        $(function () {
            $("#navbar-placeholder").load("./views/layout/navbar.html");
            $("#footer-placeholder").load("./views/layout/footer.html");
        });

    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>