<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductAdmin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <h2 class="card-title">Edit Product</h2>
                <form id="editProductForm">
                    <!-- Form fields for editing a user -->
                    <input type="hidden" id="productId">
                    <div class="form-group">
                        <label for="name">Name Product</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="descripsion">Descripsion Product</label>
                        <input type="text" class="form-control" id="descripsion" name="descripsion">
                    </div>
                    <div class="form-group">
                        <label for="price">Price Product</label>
                        <input type="text" class="form-control" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="status">Status Product</label>
                        <input type="text" class="form-control" id="status" name="status">
                    </div>
                    <div class="form-group">
                        <label for="image">Image Product</label>
                        <input type="text" class="form-control" id="image" name="image">
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="category">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="/productadmin" class="btn btn-danger">Back to Product List</a>
                </form>
            </div>
        </div>
    </div>

    <div id="footer-placeholder"></div>
    <script>
        $(document).ready(function () {
            var productId = window.location.pathname.split('/').pop();
            $.ajax({
                url: '/api/v1/products/' + productId,
                type: 'GET',
                success: function (response) {
                    if (response.success && response.data) {
                        //$('#productId').val(response.data._id);
                        $('#name').val(response.data.name);
                        $('#descripsion').val(response.data.descripsion);
                        $('#price').val(response.data.price);
                        $('#status').val(response.data.status);
                        $('#image').val(response.data.image);
                        $('#category').val(response.data.category);
                    }
                },
                error: function () {
                    alert('Failed to fetch product data.');
                }
            });

            $('#editProductForm').submit(function (e) {
                e.preventDefault();
                clearErrors(); // Gọi hàm để xóa các thông báo lỗi cũ

                var productData = {
                    name: $('#name').val(),
                    descripsion: $('#descripsion').val(),
                    price: $('#price').val(),
                    status: $('#status').val(),
                    image: $('#image').val(),
                    category: $('#category').val(),
                };

                $.ajax({
                    url: '/api/v1/products/' + productId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(productData),
                    success: function () {
                        alert('Product updated successfully.');
                        window.location.href = '/productadmin'; // Redirect back to the listing page
                    },
                    error: function (request) {
                        var response = JSON.parse(request.responseText);
                        if (response.data && response.data.code === 11000) {
                            var errorField = Object.keys(response.data.keyPattern)[0];
                            var fieldValue = response.data.keyValue[errorField];
                            var errorMessage = `The ${errorField} "${fieldValue}" is already in use.`;
                            $('#' + errorField + 'Error').text(errorMessage);
                        } else {
                            alert('An unexpected error occurred.');
                        }
                    }
                });
            });

            function clearErrors() {
                $('.text-danger').text(''); // Xóa tất cả các thông báo lỗi
            }
        });

        $(document).ready(function () {
            // Fetch categories from the server
            $.ajax({
                url: '/api/v1/categorys/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Populate the category select box
                    console.log(data);
                    var categorySelect = $('#category');

                    data.data.forEach(function (category) {
                        categorySelect.append($('<option>', {
                            value: category.id,
                            text: category.name
                        }));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching categories:', error);
                }
            });
        });


    </script>

    <script>
        $(function () {
            $("#navbar-placeholder").load("../views/layout/navbar.html");
            $("#footer-placeholder").load("../views/layout/footer.html");
        });
    </script>
</body>

</html>