<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/order.css">

</head>

<body>
    <div id="navbar-placeholder"></div>
    <div class="container mt-5">
        <h2 class="mb-4 text-center">Orders</h2>
        <div id="orders" class="row"></div>
        <div id="pagination-controls" class="mt-4"></div>
    </div>
    <div id="footer-placeholder"></div>

    <script>
        let userId;
        const limit = 4;
        $(document).ready(function () {
            $.ajax({
                url: '/api/v1/auth/me',
                method: 'GET',
                success: function (response) {
                    userId = response.data._id;
                    console.log("User ID:", response.data._id);
                    fetchOrders();

                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }

            });
        });
        function fetchOrders(page = 1) {
            $.ajax({
                url: `/api/v1/orders/user/${userId}?page=${page}&limit=${limit}`,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    const orders = response.data.orders;
                    const totalPages = response.data.totalPages;
                    $('#orders').empty();
                    if (orders.length > 0) {
                        orders.forEach(function (order) {
                            var orderHtml = '<div class="col-md-3 order-card">' +
                                '<div class="card h-100">' +
                                '<div class="card-header">' +
                                '<h5 class="card-title"><i class="fas fa-receipt"></i> Order #' + order._id + '</h5>' +
                                '</div>' +
                                '<div class="card-body">' +
                                '<p class="card-text"><strong>Total Price:</strong> $' + order.totalPrice + '</p>' +
                                '<p class="card-text"><i class="fas fa-credit-card"></i> ' + order.payment + '</p>' +
                                '<p class="card-text"><i class="fas fa-shipping-fast"></i> ' + order.shippingAddress + '</p>' +
                                '<p class="card-text"><i class="fas fa-calendar-alt"></i> ' + order.dateOrder + '</p>' +
                                '<p class="card-text"><i class="fas fa-info-circle"></i> Status: ' + order.status + '</p>' +
                                '</div>' +
                                '<div class="card-footer">' +
                                '<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#productsModal-' + order._id + '">Show Products</button>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            var modalHtml = '<div class="modal fade" id="productsModal-' + order._id + '" tabindex="-1" role="dialog" aria-labelledby="productsModalTitle-' + order._id + '" aria-hidden="true">' +
                                '<div class="modal-dialog" role="document">' +
                                '<div class="modal-content">' +
                                '<div class="modal-header">' +
                                '<h5 class="modal-title" id="productsModalTitle-' + order._id + '">Products in Order #' + order._id + '</h5>' +
                                '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div>' +
                                '<div class="modal-body">';

                            order.product.forEach(function (product) {
                                modalHtml += '<div class="product-info d-flex align-items-center">' +
                                    '<img src="' + product.image + '" alt="' + product.name + '" class="img-fluid rounded-circle" style="width: 50px; height: 50px; margin-right: 15px;">' +
                                    '<p class="card-text">' + product.name + '</p>' +
                                    '</div>';
                            });

                            modalHtml += '</div>' +
                                '<div class="modal-footer">' +
                                '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
                                '</div>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            $('#orders').append(orderHtml);
                            $('body').append(modalHtml);
                        });
                        renderPaginationControls(page, totalPages);
                    } else {
                        $('#orders').html('<div class="col-12"><p class="text-center">No orders found or failed to load orders.</p></div>');
                    }
                },
                error: function (request, status, error) {
                    console.log('Error fetching orders:', error);
                    $('#orders').html('<div class="col-12"><p class="text-center">Error fetching orders.</p></div>');
                }

            });
        }
        function renderPaginationControls(currentPage, totalPages) {
            let paginationHtml = '<nav><ul class="pagination">';
            for (let i = 1; i <= totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}"><a class="page-link" href="#" onclick="fetchOrders(${i});return false;">${i}</a></li>`;
            }
            paginationHtml += '</ul></nav>';
            $('#pagination-controls').html(paginationHtml);
        }


        $(function () {
            $("#navbar-placeholder").load("./views/layout/navbar.html");
            $("#footer-placeholder").load("./views/layout/footer.html");
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>